extends layout
block content
        h1(align='center') Футбольные игроки
        p
        table(align='center' width='60%')
                tr
                    td(width='30%')
                    td(width='30%')
                                a.btn.btn-warning(type='button', data-toggle='modal', data-target='#myModal') Добавить игрока
                    td(width='30%')
        p
        h3(align='center') Фильтр игроков

        table(width='100%')
            thead
                tr
                    td(width='20%')
                        h4 ФИО
                    td(width='20%')
                        h4 Дата рождения
                    td(width='20%')
                        h4 Страна
                    td(width='20%')
                        h4 Клуб
                    td(width='20%')
                        h4 Игровая позиция


            tbody
                tr
                    td(width='20%')
                        input(name="filt" onkeyup="filt1(this, 'sf')" style="width:350px;" type="text")
                    td(width='20%')
                        input(name="filt1" onkeyup="filt2(this, 'sf')" style="width:350px;" type="text")
                    td(width='20%')
                        input(name="filt2" onkeyup="filt3(this, 'sf')" style="width:350px;" type="text")
                    td(width='20%')
                        input(name="filt3" onkeyup="filt4(this, 'sf')" style="width:350px;" type="text")
                    td(width='20%')
                        input(name="filt4" onkeyup="filt5(this, 'sf')" style="width:350px;" type="text")

        p
        h3(align='center') Таблица игроков
        p
        .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        table(class='table task-table' width='100%' id="sf")
                                thead
                                        tr
                                                td(width='20%')
                                                        h4 ФИО
                                                td(width='20%')
                                                        h4 Дата рождения
                                                td(width='20%')
                                                        h4 Страна
                                                td(width='20%')
                                                        h4 Клуб
                                                td(width='20%')
                                                        h4 Игровая позиция


                                tbody
                                    if(players)
                                        each v in players
                                            tr(id=v._id)
                                                td(width='20%')
                                                    h4 #{v.Name}
                                                td(width='20%')
                                                    h4 #{v.PDate}
                                                td(width='20%')
                                                    h4 #{v.Country}
                                                td(width='20%')
                                                    h4 #{v.Club}
                                                td(width='20%')
                                                    h4 #{v.Role}
                                                td(width='5%')
                                                    a.btn.btn-danger(href="/remove" class="remove" data-id=v._id) Удалить

        #myModal.modal.fade(tabindex='-1', role='dialog')
                .modal-dialog.custom-class(role='document')
                        .modal-content
                                .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                span(aria-hidden='true') ×
                                        h4.modal-title Новый игрок
                                .modal-body

                                        form(id="create-form" class="form-horizontal")
                                                input(type="hidden" name="ownProject" value=ownProject)
                                                label(for='Name') ФИО игрока
                                                textarea#Name.form-control(minlength='5', maxlength='512', required='' name="Name")
                                                label(for='PDate') Дата рождения
                                                textarea#PDate.form-control(minlength='5', maxlength='512', required='' name="PDate")
                                                label(for='Country') Страна
                                                textarea#Country.form-control(minlength='5', maxlength='512', required='' name="Country")
                                                label(for='Club') Клуб, за который выступает игрок
                                                textarea#Club.form-control(minlength='5', maxlength='512', required='' name="Club")
                                                label(for='Role') Игровая позиция
                                                select#Role.inline(name='Role')
                                                        option(value='Вратарь(ВР)', selected='selected') Вратарь(ВР)
                                                        option(value='Центральный защитник(ЦЗ)') Центральный защитник(ЦЗ)
                                                        option(value='Фланговый защитник(ФЗ)') Фланговый защитник(ФЗ)
                                                        option(value='Опорный полузащитник(ОП)') Опорный полузащитник(ОП)
                                                        option(value='Фланговый защитник(ФЗ)') Фланговый полузащитник(ФП)
                                                        option(value='Центральный нападающий(ЦН)') Центральный нападающий(ЦН)
                                .modal-footer
                                        button.btn.btn-warning(type='button', data-dismiss='modal') Отмена
                                        button.btn.btn-danger(type='button' onclick="$('#create-form').submit()") Добавить игрока
        script.
            $(function () {
                $("#create-form").on('submit', function (e) {
                    console.log("dhdhdfhdf");
                    $.ajax({
                        method: "POST",
                        url: "/createPlayers",
                        data: $(this).serialize()
                    })
                        .fail(function (error) {
                            // show error message
                        })
                        .success(function (data) {
                            console.log(data);
                            $(".task-table tbody").append("<tr><td>" + data.Name + "</td><td>" + data.PDate + "</td><td>" + data.Country + "</td><td>" + data.Club + "</td><td>" + data.Role + "</td></tr>");
                        })
                        .always(function () {
                            $("#myModal").modal("hide");

                        });
                    e.preventDefault();
                })
            });
            $(document).ready(function () {
                $('.remove').click(function (t) {
                    $.ajax({
                        method: "POST",
                        url: "/removePlayers",
                        data: {id: $(this).data('id')}
                    })
                        .fail(function (error) {
                            // show error message
                        })
                        .success(function (data) {
                            console.log(data);
                            $("#" + data.id).remove();
                        })
                    t.preventDefault();

                });
            });
            function filt1(phrase, _id) {
                var words = phrase.value.toLowerCase().split(" ");
                var table = document.getElementById(_id);
                for (var r = 1; r < table.rows.length; r++) {
                    var cellsV = table.rows[r].cells[0].innerHTML.replace(/<[^>]+>/g, ""); //указать первый столбец
                    var displayStyle = 'none';
                    for (var i = 0; i < words.length; i++) {
                        if (cellsV.toLowerCase().indexOf(words[i]) >= 0)
                            displayStyle = '';
                        else {
                            displayStyle = 'none';
                            break;
                        }
                    }
                    table.rows[r].style.display = displayStyle;
                }
            }
            function filt2(phrase, _id) {
                var words = phrase.value.toLowerCase().split(" ");
                var table = document.getElementById(_id);
                for (var r = 1; r < table.rows.length; r++) {
                    var cellsV = table.rows[r].cells[1].innerHTML.replace(/<[^>]+>/g, "");
                    var displayStyle = 'none';
                    for (var i = 0; i < words.length; i++) {
                        if (cellsV.toLowerCase().indexOf(words[i]) >= 0)
                            displayStyle = '';
                        else {
                            displayStyle = 'none';
                            break;
                        }
                    }
                    table.rows[r].style.display = displayStyle;
                }
            }
            function filt3(phrase, _id) {
                var words = phrase.value.toLowerCase().split(" ");
                var table = document.getElementById(_id);
                for (var r = 1; r < table.rows.length; r++) {
                    var cellsV = table.rows[r].cells[2].innerHTML.replace(/<[^>]+>/g, "");
                    var displayStyle = 'none';
                    for (var i = 0; i < words.length; i++) {
                        if (cellsV.toLowerCase().indexOf(words[i]) >= 0)
                            displayStyle = '';
                        else {
                            displayStyle = 'none';
                            break;
                        }
                    }
                    table.rows[r].style.display = displayStyle;
                }
            }
            function filt4(phrase, _id) {
                var words = phrase.value.toLowerCase().split(" ");
                var table = document.getElementById(_id);
                for (var r = 1; r < table.rows.length; r++) {
                    var cellsV = table.rows[r].cells[3].innerHTML.replace(/<[^>]+>/g, "");
                    var displayStyle = 'none';
                    for (var i = 0; i < words.length; i++) {
                        if (cellsV.toLowerCase().indexOf(words[i]) >= 0)
                            displayStyle = '';
                        else {
                            displayStyle = 'none';
                            break;
                        }
                    }
                    table.rows[r].style.display = displayStyle;
                }
            }
            function filt5(phrase, _id) {
                var words = phrase.value.toLowerCase().split(" ");
                var table = document.getElementById(_id);
                for (var r = 1; r < table.rows.length; r++) {
                    var cellsV = table.rows[r].cells[4].innerHTML.replace(/<[^>]+>/g, "");
                    var displayStyle = 'none';
                    for (var i = 0; i < words.length; i++) {
                        if (cellsV.toLowerCase().indexOf(words[i]) >= 0)
                            displayStyle = '';
                        else {
                            displayStyle = 'none';
                            break;
                        }
                    }
                    table.rows[r].style.display = displayStyle;
                }
            }